/* better looking code */

.string { color: brightgreen!important; font-weight: bold; }
.comment { color: cyan; font-style: italic; font-weight: bold; }

.selector { color: #fff; }
.keyword { color: lightgreen; }
.html {  }
.keyword.control.html { color: #FFF; font-weight: bold; }
.variable { color: #fff; text-decoration: none; font-weight: bold!important; font-size: 12px; }
.functions { color: #000; }
.meta.brace {
  font-size: 13px; font-weight: bold; color: #eee;
}

/*
* Pimp my atom shell. v
*/

body, html {
  background-color: transparent!important;
  background-size: cover;
}

.gutter
{
  opacity: 0.3;
  color: #fff;
}

.editor .gutter, .editor
{
  background-color: transparent;
}

atom-workspace, atom-panel, atom-panel.modal, .editor, .gutter, atom-panel-container, atom-workspace-axis, atom-pane { background: transparent!important; }

atom-panel.left, .tree-view-scroller, .tree-view, .project-root {
  background-color: transparent!important;
}

.tab-bar:after { display: none!important; }

atom-panel.left, .tool-panel.left, atom-panel.panel-left, .tool-panel.panel-left {
  border: none; font-family: verdana;
}
.panel-left .project-root > li,span { text-shadow: none!important; color: #fff; }
.tree-view-resize-handle { }

.list-group li:not(.list-nested-item).status-added, .list-tree li:not(.list-nested-item).status-added, .list-group li.list-nested-item.status-added > .list-item, .list-tree li.list-nested-item.status-added > .list-item
{
  color: #fff;
  text-shadow: #00fff7 2px 2px 2px!important;
}

.tool-panel, .tree-view, .tree-view-scroller {
  background-color: transparent!important;
  background-color: rgba(0, 0, 0, 0.2);
  font-color: #fff!important
}

.tab-bar { max-height: 32px; background:#000; opacity: 0.5; padding-left: 20px; padding-right: 20px; background-image: none; border:none; border-width: 0px; border-right: none;  }

.tab-bar .tab:before
{
  display: none;
}

.tab-bar .tab:after
{
  display: none;
}

.tab-bar:first-child
{
  right: 0px;
  left: 0px;
  padding: 0px;
}


.tab-bar:first-child .tab
{

}

.tab-bar .tab
{
  border: none!important;
  position: relative;
  background-image: none!important;

  font-family: 'Segoe Print';
  font-size: 11px;

  top: 0px;
  max-width: 140px;
  height: 28px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  color: #fff;
  transition: color 0.5 ease-in;
  border: none!important;
  border-top: none!important;
  border-right: none!important;
  border-bottom: none!important;
  border-left: 0px solid rgba(189, 189, 189, 0.80)!important;

  color:rgba(200, 200, 200, 0.5);
  box-shadow: none;
  -webkit-box-shadow: none!important;
}

.tab:first-child { margin-left: 10px; }

.tab-bar .tab.active, .tab > * { height: 32px; background: rgba(50, 50, 50, 0.5); }

.tab-bar .tab .close-icon { top: 0px; right: 10px; }


/* For light BGs */
.editor, .gutter, .panel { /* background: rgba(60, 20, 20, 0.2); background: rgba(100, 120, 90, 0.3)!important; */ -webkit-filter: blur(1px); }
.editor, .gutter, .tool-panel {
  background: rgba(0, 5, 0, 0.2)!important;
  -webkit-filter:none;
}

/* End light bgs */
